{% extends 'federation/base.html' %}

{% block content %}
<html>
    <head>
        <meta charset="utf 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <ul class="nav navbar-nav">
                    <li><a href="rankings">Rankings</a></li>
                    <li><a href="nations">Nations</a></li>
                    <li><a href="#">Match Updates</a></li>
                </ul>
        <h1>Home</h1>
    </head>
    <body>
    <div class="container">
         <p> <strong class="selflink">The Micronational Virtual Football Federation.</strong>, commonly known by the
            <a class="extiw" title="w:Acronym and initialism" href="http://en.wikipedia.org/wiki/Acronym_and_initialism">acronym</a> <b>MVFF</b>, is an
            international Virtual football body for <a title="Micronation" href="https://micronations.wiki/wiki/Micronation">micronations</a>
                Its headquarters are located in Niš, and its current president is <a title="Dimitrije Golubović" href="https://micronations.wiki/wiki/Dimitrije_Golubovi%C4%87">Dimitrije Golubović</a>,
            who took the presidency on March 28, <a title="2017" href="https://micronations.wiki/wiki/2017">2017</a>, as he is one of the founders.
            The MVFF is responsible for the organisation and governance of football's major virtual micronational tournaments, most notably the MVFF World Cup.

        Matches are generated in <a title="TSS" href="https://micronations.wiki/wiki/BigBox_Studio#Text_Sports_Simulator">TSS</a> and PES.The organisation is divided in two organizations..The Asia-Oceania confederation,
            European confederation of virtual football and The American Federation.
        The World Cup will feature 8 teams.</p>
           
             <center>
            <img class="alignnone  wp-image-318" src="https://micronationalvff.files.wordpress.com/2017/03/1jojl1fomkx9wypfbe43d6kjpwipbnmmhzewxs1m3emoajtlcglgvdi8-u51.png" alt="1j+ojl1FOMkX9WypfBe43D6kjPWIpBNMmhzEwXs1M3EMoAJtlCglgvdi8...U5" width="500" />
        </center>
        </div>
    </body>
</html>
{% endblock %}
