{% extends 'federation/base.html' %}

{% block content %}
    <div class="container">
        <strong class="selflink">The Micronational Virtual Football Federation.</strong>, commonly known by the
            <a class="extiw" title="w:Acronym and initialism" href="http://en.wikipedia.org/wiki/Acronym_and_initialism">acronym</a> <b>MVFF</b>, is an
            international Virtual football body for <a title="Micronation" href="https://micronations.wiki/wiki/Micronation">micronations</a>
            Its headquarters are located in Brighouse, and its current president is <a title="Edwin Farrar" href="https://micronations.wiki/wiki/Edwin_Farrar">Edwin Farrar</a>,
            who took the presidency on February 28, <a title="2017" href="https://micronations.wiki/wiki/2017">2017</a>, as he is the founder.
            The MVFF is responsible for the organisation and governance of football's major virtual micronational tournaments, most notably the MVFF World Cup.

        Matches will be generated <a href="http://otj.awardspace.co.uk/matchtwo.php">here.</a> The organisation will be split into three organisations.The Asia-Oceania confederation,
            European confederation of virtual football and The American Federation.
        The world cup will feature 12 teams, with each confederation having 4 slots each.
            Qualifying tournaments in each confederation will decide the qualifiers,
            with the semi-finalists qualifying for the world cup.

         
        <center>
            <img class="alignnone  wp-image-318" src="https://micronations.wiki/images/2/2c/MVFFLogo.png" alt="1j+ojl1FOMkX9WypfBe43D6kjPWIpBNMmhzEwXs1M3EMoAJtlCglgvdi8...U5" width="500" />
        </center>
    </div>
{% endblock %}
