{% extends 'federation/base.html' %}


{% block content %}
    <h2>List of Member-Nations</h2>
    <ul class="list-group">
        {% for nation in micronation %}

                <li class="list-group-item"><img src="https://micronations.wiki/images/c/c2/CoriaFlag.png" height="25"> Coria</li>
       <li class="list-group-item"><img src="https://micronations.wiki/images/1/14/Quailiaflag.jpg" height="25"> Quailia</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/e/e6/Florian_Republicflag.svg" height="25"> The Florian Republic</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/3/34/Drof_final.png" height="25"> Fairfax</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/0/08/PolishRepublicOfFreeland.png" height="25"> Freeland</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/7/75/2nd_Flag.jpeg" height="25"> Perisia</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/e/e4/ImvrassiaFlag.jpg" height="25"> Imvrassia</li>
      <li class="list-group-item"><img src="https://micronations.wiki/images/8/88/Serbica.png" height="25"> Serbica</li>  
        <li class="list-group-item"><img src="https://micronations.wiki/images/b/bb/Stravinia_Flag.png" height="25"> Stravinia</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/f/f9/Glastive.png" height="25"> Glastieve</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/5/59/Flag_of_Vroopa.png" height="25"> Vroopa</li>
        <li class="list-group-item"><img src="https://micronations.wiki/images/8/88/Hortania_Flag.png" height="25"> Hortania</li>
        <li class="list-group-item"><img src=/ alt="no flag" height="25"> Woslydor</li>
        <li class="list-group-item"><img src=/ alt="no flag" height="25"> Republic of Larsonia</li>

        {% endfor %}
    </ul>
{% endblock %}
