<!DOCTYPE html>
{% extends 'federation/base.html' %}
{% block content %}

    <ul>
        {% for nation in ranking %}

        <li class="Coria"><img src="https://micronations.wiki/images/c/c2/CoriaFlag.png" height="25"> Coria <center> Points: 835</center></li>
        <li class="Quailia"><img src="https://micronations.wiki/images/1/14/Quailiaflag.jpg" height="25"> Quailia <center> Points: 192.5</center></li>
        <li class="Florian Republic"><img src="https://micronations.wiki/images/e/e6/Florian_Republicflag.svg" height="25"> Florian Republic <center> Points: 175</center></li>
        <li class="Fairfax"><img src="https://micronations.wiki/images/3/34/Drof_final.png" height="25"> Fairfax <center> Points: 165</center></li>
        <li class="Freeland"><img src="https://micronations.wiki/images/0/08/PolishRepublicOfFreeland.png" height="25"> Freeland <center> Points: 130</center></li>
        <li class="Perisia"><img src="https://micronations.wiki/images/7/75/2nd_Flag.jpeg" height="25"> Perisia <center> Points: 110</center></li>
        <li class="Imvrassia"><img src="https://micronations.wiki/images/e/e4/ImvrassiaFlag.jpg" height="25"> Imvrassia <center> Points: 65</center></li>
        <li class="Serbica"><img src="https://micronations.wiki/images/8/88/Serbica.png" height="25"> Serbica <center> Points: 30</center></li>
        <li class="Stravinia"><img src="https://micronations.wiki/images/b/bb/Stravinia_Flag.png" height="25"> Stravinia <center> Points: 17.5</center></li>
        
        {% endfor %}
    </ul>



{% endblock %}
